.error-container{
    margin-top: 50px;
    margin-bottom: 100px;
    padding:30px;
    display: flex;
    justify-content: center;
}
.error-container h1{
    font-style: italic;
    text-align: center;
    font-size: 40px;
    color:red;
    margin-top: 90px;
}
.error-img{
  width:200px;
}